body {
	background-color: #ebedee;
}

h1, h2 {
	text-align: center;
}

div {
	background-color: white;
	margin: 20px;

}

.option_menu {

}

.ecriture {
	display: inline-block;
}

span {
	color: #9dceda;
}

.enBalise {
	font-size: 24px;
}

p {
	margin:0;
	display: inline-block;
}

button {
	margin-left: 200px !important ;
	margin-top: -95px !important ;
}


/*PARTIE CSS DAVID*/
  .student{
    height: 100px;
    border: 1px solid grey;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  img{
    height: 90px;
    border-radius: 45px;
    flex-shrink: 1;
  }
  .info{
    flex-grow: 2;
    margin-left: 10px;
  }
  .name{
    font-weight: bold;
    font-size: 1.5em;
  }
  .arrival{
    display: flex;
    justify-content: space-between;